

.card{
    display: grid;
    grid-template-rows: 38px 174px 0.5fr;
    background-color: #f9f9f9;
    transition: 0.1s linear;
    max-width: 350px;
    width: 300px;
    padding: 1px 30px 10px;
    padding: 1px 0px 10px;
    border-radius: 10px;


    
    &:hover{
        box-shadow: 0 0 120px 0 rgba(0, 0, 0, 0.2);
        // transform: scale(1.1);
        // transform: scale(1.05);
        // margin-top: -5px;

    }



}

// div[data-tilt="true"] {
// }

.tilt{
    width: inherit !important;
    padding: inherit !important;
    margin: inherit !important;
    background: none !important;
    box-shadow: inherit !important;

  }


  
.name{
    p{
        margin: 0;
        padding: 0;
    }
    h1{
        margin: 0 20px;
        padding: 0;
        // background-color: yellow; 
        font-size: 20px;
        color: red;
        height: 60px;
    }
}

.image{
    transform: translateZ(210px);
    display: grid;
    width: 100%;
    height: 160px;
    overflow: hidden;
    justify-items: center;
    align-items: center;

    display: grid;
    width: 300px;
    /* position: absolute; */
    margin: 0 0 0 -0px;
    height: 160px;
    overflow: hidden;
    justify-items: center;
    align-items: center;


    img{
        height: auto;
        width: 112%;

    }
}

.black{
    background-color: none; 
    color: rgb(44, 44, 44);
}

.btn{
    transform: translateZ(20px);
    text-align: -webkit-center;
    margin: -31px 0;
    a{
        // width: 80%;
        text-align: center;
        margin-top: 15px;
        display: block;
        margin: 20px 10px 10px;
        background: black;
        color: rgb(160, 160, 160);
        // width: fit-content;
        padding: 20px;
        border-radius: 6px;
        margin: 56px 10px -24px;
        text-transform: uppercase;
        transition: 1s;
        margin-bottom: 80px;


        &:hover{
            box-shadow: 0 0 120px 0 rgba(0, 0, 0, 0.31);
            background-color: rgb(184, 184, 184);
            color: rgb(44, 44, 44);
            // transform: scale(1.07);
        }
    }
}

.btnInd{
    width: 197px;
}




.cardsContenedor{
    display: grid;
    width: 80vw;
    column-gap: 10px;
    row-gap: 60px;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.fecha{
    font-size: 11px;
    color: rgb(44, 44, 44);
    text-transform: uppercase;
    margin: 2px 10px;
    text-align: right;
}

.black{
    color: rgb(44, 44, 44) !important;
}

.red{
    color: rgb(160, 0, 0) !important;
}

.more_button{
    grid-column-end: -1;
    align-self: baseline;
    background: black;
    color: white;
    /* grid-row-end: -1; */
    width: 62%;
    height: 70px;
    font-weight: 100;
    display: grid;
    font-size: 30px;
    line-height: 0.7;
    border-radius: 5px;
    transition: 1s;

    &:hover{
        background-color: grey;
        border-radius: 15px;
    }
}




.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer img {
    margin-left: 0.5rem;
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title a {
    color: #0070f3;
    text-decoration: none;
  }
  
  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }
  
  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
    color: grey;
  }
  
  .title,
  .description {
    text-align: center;
  }
  
  .description {
    line-height: 1.5;
    font-size: 1.5rem;
  }
  
  .code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }
  
  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr))
  }
  
  .card {
    margin: 1rem;
    flex-basis: 45%;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
  }
  
  .card:hover,
  .card:focus,
  .card:active {
    color: #0070f3;
    border-color: #0070f3;
  }
  
  .card h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  
  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
  .logo {
    height: 1em;
  }
  
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
  
  
  
  .span{
    margin-top: -10px;
    display: block;
    font-size: 10px;
  }

  .mBtn{
    display: flex;
  }

  .logoNombre{
      display: grid;
      justify-content: center;
      align-content: center;
      justify-items: center;
      align-items: center;
  }